@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
#intro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  width: 100%;
  height: 100vh;
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s all;
}
#intro.hide {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
}

body {
  position: relative;
}

#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-bottom: 2px solid #E5E5E5;
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.header .inner h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
.header .toggle-menu input {
  display: block;
  width: 30px;
  height: 23px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.header .nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.header .nav ul li a {
  font-size: 1.25rem;
  font-weight: 700;
  transition: 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.header .nav ul li a:hover, .header .nav ul li a.active {
  color: #E5E5E5;
  text-decoration: underline;
}

.main {
  padding: 98px 0 50px;
  position: relative;
  z-index: 2;
}

section {
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 4vw 0;
}
section .title {
  font-size: 5rem;
  font-weight: 700;
  color: #525252;
}
section .description {
  text-align: center;
  word-break: keep-all;
}
section .sub-title {
  font-size: 1.75rem;
  font-weight: 900;
  padding-bottom: 30px;
  border-bottom: 1px solid #525252;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section .list-type {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section .list-type li {
  display: flex;
  align-items: center;
  gap: 10px;
}
section .list-type span {
  display: inline-block;
  background-color: #efefef;
  border-radius: 4px;
  padding: 4px 10px;
}
section.about {
  padding-top: 98px;
}
section.about .item {
  width: 100%;
}
section.about .item.intro {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
section.about .item.edu, section.about .item.exp {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section.about .description {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 30px;
}
section.about .description .img-wrap {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
}
section.about .description p {
  font-size: 1.125rem;
  width: calc(100% - 200px - 30px);
  padding: 1.25rem;
  border-radius: 6px;
  background: linear-gradient(-45deg, transparent 4%, rgba(229, 229, 229, 0.7) 0);
}
section.about .list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  word-break: keep-all;
}
section.about .list li {
  position: relative;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 15px;
  border-radius: 6px;
  background: linear-gradient(-45deg, transparent 4%, rgba(239, 239, 239, 0.7) 0);
}
section.about .list li strong {
  font-size: 1.25rem;
}
section.about .list li span {
  font-size: 0.875rem;
}
section.career .list {
  width: 100%;
  margin-top: 30px;
}
section.career .list .project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
section.career .list h3 {
  font-size: 1.5rem;
}
section.career .list > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #525252;
  padding: 30px 20px;
}
section.career .list > li > p {
  word-break: keep-all;
}
section.career .list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
section.career .list ul li {
  display: flex;
  gap: 10px;
}
section.career .list ul li p {
  min-width: 120px;
  font-size: 1.125rem;
  font-weight: 500;
}
section.work {
  padding-top: 98px;
}
section.work .list-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
section.work .list-wrap .col {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.work .list-wrap .col a .img-wrap {
  overflow: hidden;
}
section.work .list-wrap .col a .img-wrap img {
  transition: 0.3s all;
}
section.work .list-wrap .col a .description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section.work .list-wrap .col a:hover img {
  transform: scale(1.12);
}
section.contact {
  padding-top: 98px;
}
section.contact .description {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}
section.contact .description .col {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap;
  background: linear-gradient(-45deg, transparent 4%, rgba(239, 239, 239, 0.7) 0);
  border-radius: 6px;
  padding: 0.9375rem;
}
section.contact .description .col span {
  font-size: 1.25rem;
}
section.contact .description .col strong {
  font-size: 1.5rem;
}
section.portfolio {
  max-width: 1280px;
}
section.portfolio .sub-title h3 {
  font-size: 2.5rem;
  line-height: 1.2;
  word-break: keep-all;
}
section.portfolio .sub-title span {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  word-break: keep-all;
}
section.portfolio .sub-title span em {
  position: relative;
  padding-left: 10px;
  padding-bottom: 5px;
  display: block;
}
section.portfolio .sub-title span em::before {
  content: "-";
  display: flex;
  position: absolute;
  top: 2px;
  left: 0;
}
section.portfolio .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
section.portfolio .list li {
  display: flex;
}
section.portfolio .list li span {
  min-width: 100px;
  font-size: 18px;
  font-weight: 500;
}
section.portfolio .list li em {
  font-size: 1rem;
  font-weight: 400;
}
section.portfolio .flex-wrap {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
section.portfolio .flex-wrap a {
  display: block;
  background-color: #525252;
  border-radius: 5px;
  padding: 0 15px;
  line-height: 40px;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  min-width: 120px;
  text-align: center;
}
section .contents {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section .contents > div {
  border: 1px solid #E5E5E5;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
}

@media (max-width: 1720px) {
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 960px) {
  section {
    max-width: 100%;
    padding: 0 20px;
  }
  .header .inner {
    padding: 10px 20px;
  }
  .header .inner h1 {
    font-size: 1.25rem;
  }
  .header .toggle-menu .bar {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 30px;
    height: 23px;
  }
  .header .toggle-menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .header .toggle-menu span:nth-of-type(1) {
    top: 0;
  }
  .header .toggle-menu span:nth-of-type(2) {
    top: 10px;
  }
  .header .toggle-menu span:nth-of-type(3) {
    bottom: 0;
  }
  .header .toggle-menu input:checked ~ .bar span:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .header .toggle-menu input:checked ~ .bar span:nth-of-type(2) {
    opacity: 0;
  }
  .header .toggle-menu input:checked ~ .bar span:nth-of-type(3) {
    transform: translateY(-10px) rotate(45deg);
  }
  .header .toggle-menu input:checked ~ .nav {
    right: 0;
  }
  .header .nav {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: -250px;
    height: calc(100vh - 51px);
    display: flex;
    justify-content: flex-end;
    transition: 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .header .nav ul {
    background-color: rgba(255, 255, 255, 0.8);
    border-left: 1px solid #E5E5E5;
    width: 250px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
  }
}
@media (max-width: 680px) {
  section .title {
    font-size: 2.375rem;
  }
  section .sub-title {
    font-size: 1.25rem;
  }
  section.about {
    padding-top: 60px;
  }
  section.about .description {
    flex-direction: column;
  }
  section.about .description p {
    width: 100%;
    text-align: center;
  }
  section.about .list {
    flex-direction: column;
    gap: 20px;
  }
  section.about .list li {
    flex: 0;
  }
  section.work {
    padding-top: 60px;
  }
  section.work .list-wrap {
    flex-direction: column;
  }
  section.work .list-wrap .col {
    flex: 0;
  }
  section.portfolio .sub-title h3 {
    font-size: 1.75rem;
  }
  section.career .list ul li p {
    min-width: 90px;
  }
  section.career .list ul li span {
    font-size: 14px;
  }
  section.career .list .project {
    gap: 5px;
  }
  section.contact .description .col {
    flex: auto;
  }
  section.contact .description .col span {
    font-size: 16px;
  }
  section.contact .description .col strong {
    font-size: 18px;
  }
}/*# sourceMappingURL=content.css.map */